{% extends 'base/project.main.html'%}

{% block content %}


<main id="main">

  
   

    <section  class="message mt-5">
        <div class="container">
    
          
            <div class="row justify-content-center">
                <div class="col-md-4 col-md-offset-4 border-1 rounded text-align-center">
                    <h4>Thanks for contacting Us!!</h3>
                    <p class="text-align-center">Your message has been sent <br>
                    we get back to you shortly</p>
                </div>
            </div>
         
    
        </div>
      </section>

    

  </main>
  <!-- End #main -->




{% endblock content%}
