{% extends 'base/main.html' %}

{% block content %}
{% load static %}
<main id="main">
        <!-- ======= Breadcrumbs Section ======= -->
        <section class="breadcrumbs">
            <div class="container">
      
              <div class="d-flex justify-content-between align-items-center">
                <h2>Inner Page</h2>
                <ol>
                  <li><a href="index.html">Home</a></li>
                  <li>Inner Page</li>
                </ol>
              </div>
      
            </div>
          </section><!-- End Breadcrumbs Section -->
      
          <section id="gallery" class="gallery">
              <div class="container">
          
                <div class="section-title" data-aos="fade-up">
                  <h2>Gallery</h2>
                  <p>Check our Gallery</p>
                </div>
          
                <div class="row no-gutters" data-aos="fade-left">
    
    <img src="{{project.thumbnail.url}}" alt="" class="img-fluid">
    <p class="text-center text-dark pt-2 text-capitalize fs-3px">{{project.title}}</p>
    <p class="text-center">{{project.body}}</p>
    

</div>
    
</div>
</section>
  </main>
  <!-- End #main -->


{% endblock content %}